@charset "UTF-8";
.container {
  display: flex;
  background: beige;
  height: 150px;
}
.item {
  background: cyan;
  padding: 10px;
  margin: 10px;
}	  
div div:nth-child(1){
  align-self: stretch;
}
div div:nth-child(2){
  align-self: flex-start;
}
div div:nth-child(3){
  align-self: flex-end;
}
div div:nth-child(4){
  align-self: center;
}
div div:nth-child(5){
  align-self: baseline;
}
