@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%; 
  min-width: 600px; 
  max-width: 960px;		
  background: beige;
  margin: 0 auto;
}	
header {
  width: 100%;	  
  background: #eaeaea;		
}
footer {
  width: 100%;	  
  background: #eaeaea;		
}
.flexcontainer {
  display: flex;
  justify-content: space-between;
}	
.flexitem {	      
  width: 32%;
  height: 300px;    
  background: lightgreen;
}	  


