@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%; 
  min-width: 600px; 
  max-width: 960px;		
  background: beige;
  margin: 0 auto;
}	
header {
  width: 100%;	  
  background: #eaeaea;		
}	  
main {
  width: 70%;
  height: 300px;
  background: deepskyblue;
  float: left;	
}
aside {
  width: 28%;
  height: 300px;		
  background: orange;
  float: right;	
}
footer {
  width: 100%;
  background: #eaeaea;		
  clear: both;        
}	  

