@charset "UTF-8";
.container {
  display: flex;
}
.item {
  background: cyan;
  padding: 10px;
  margin: 10px;
}
/* 將第1個子元素的順序設定為2 */
div div:nth-child(1){
  order: 2;
}
/* 將第2個子元素的順序設定為2 */
div div:nth-child(2){
  order: 1;
}

